<h1>Welcome to readThis </h1>

<% if user_signed_in? %>
		<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
	<%else%>
		<%= link_to 'Sign up', new_user_registration_path %>
		<%= link_to 'Sign in', new_user_session_path %>
<% end %>


<br>
<%= link_to 'New post', new_post_path %>

<% if @posts.empty? %>
	<p>No one has posted yet</p>
<%else%>
	<% @posts.each do |post| %>
		<ul>
			<li><%=link_to post.title, post.url %></li>
			<p>Submitted <%=time_ago_in_words(post.created_at)%> by <%= post.user.email %></p>
			<span>Likes: <%= post.rating %></span>
			<%= link_to 'Like'	 , post_likes_path(post)	 ,method: :post %>
			<%= link_to 'Dislike', post_dislikes_path(post),method: :post %>
			<% if current_user == post.user && user_signed_in? %>
				|<span><%= link_to 'Edit', edit_post_path(post) %> </span>
				|<span><%= link_to 'Delete', post_path(post), method: :delete %></span>
			<%end%>
		</ul>
	<% end %>
<% end %>